<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> <!-- CSS bootstrap -->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" /> <!-- CSS police d'écriture -->
    <link href="css/style.css" rel="stylesheet"> <!-- CSS principal -->

    <title>AMCE - Panier</title> <!-- Titre onglet -->
    <link href="img/logo-chaussure.png" rel="icon"> <!-- Icon onglet -->
</head>

<body>

    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <!-- Bouton menu burger -->
                <div class="fa fa-bars tooltips" data-placement="right"></div>
            </div>

            <!-- Titre principal-->
            <p class="titre-principal"><b><span>AMCE</span></b></p>

            <!-- Profile-->
            <p class="placement-rond"><a href="connexion.html"><img src="img/logo-personnage.png" class="img-circle" width="50"></a></p>

        </header>

        <!-- Menu de gauche -->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <ul class="sidebar-menu" id="nav-accordion">
                    <img src="img/logo-chaussure.png" class="placement-logo-chaussure" width="200">

                    <li class="sub-menu">
                        <a class="active" href="boutique.html">
                            <i class="fleche"></i>
                            <span>Boutique</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a class="active" href="panier.html">
                            <i class="fleche"></i>
                            <span>Mon panier</span>
                        </a>
                    </li>

                </ul>
            </div>
        </aside>
    </section>

    <section id="configuration">
        <section class="wrapper">
            <form>
                <br>
                <h3><i class="fa fa-angle-right"></i> Mon panier</h3>

                <hr>

                <div class="page">
                    
                    <center>
                        <div class="cadre">
                            <img src="img/Chaussure 2.png" width="500">
                            <br><br>
                            <h4>Nom du produit : Nayke Super Sport</h4>
                            <br>
                            <h4>Référence du produit : Nayke</h4>
                            <br>
                            <h4>Prix unitaire : 139.50 €</h4>
                            <br>
                            <h4>Pointure : 42</h4>
                            <br>
                            <h4>Largeur : G</h4>
                            <br>
                            <h4>Quantité : 1</h4>
                            <br>
                            <!-- Bouton Ajouter au panier -->
                            <input type="submit" class="boutton" value="Retirer du panier"></a>
                        </div>

                        <br>
                        <hr>

                        <div class="cadre">
                            <img src="img/Chaussure 4.png" width="500">
                            <br><br>
                            <h4>Nom du produit : Mega Dok</h4>
                            <br>
                            <h4>Référence du produit : Dok Marti</h4>
                            <br>
                            <h4>Prix unitaire : 257 €</h4>
                            <br>
                            <h4>Pointure : 48</h4>
                            <br>
                            <h4>Largeur : J</h4>
                            <br>
                            <h4>Quantité : 1</h4>
                            <br>
                            <!-- Bouton Ajouter au panier -->
                            <input type="submit" class="boutton" value="Retirer du panier"></a>
                        </div>

                        <br>
                        <hr>

                        <div class="cadre">
                            <img src="img/Chaussure 8.png" width="500">
                            <br><br>
                            <h4>Nom du produit : Lets Star Plus</h4>
                            <br>
                            <h4>Référence du produit : Aversse</h4>
                            <br>
                            <h4>Prix unitaire : 99.99 €</h4>
                            <br>
                            <h4>Pointure : 44</h4>
                            <br>
                            <h4>Largeur : H</h4>
                            <br>
                            <h4>Quantité : 1</h4>
                            <br>
                            <!-- Bouton Ajouter au panier -->
                            <input type="submit" class="boutton" value="Retirer du panier"></a>
                        </div>

                        <br>
                        <hr>

                        <div class="cadre">
                            <img src="img/Chaussure 12.png" width="500">
                            <br><br>
                            <h4>Nom du produit : New Generation LANZ</h4>
                            <br>
                            <h4>Référence du produit : Newlanz</h4>
                            <br>
                            <h4>Prix unitaire : 269.95 €</h4>
                            <br>
                            <h4>Pointure : 50</h4>
                            <br>
                            <h4>Largeur : K</h4>
                            <br>
                            <h4>Quantité : 2</h4>
                            <br>
                            <!-- Bouton Ajouter au panier -->
                            <input type="submit" class="boutton" value="Retirer du panier"></a>
                        </div>

                        <br>
                        <hr>

                        <div class="cadre">
                            <img src="img/Chaussure 13.png" width="500">
                            <br><br>
                            <h4>Nom du produit : Klal ette</h4>
                            <br>
                            <h4>Référence du produit : Lideule</h4>
                            <br>
                            <h4>Prix unitaire : 10 €</h4>
                            <br>
                            <h4>Pointure : 44</h4>
                            <br>
                            <h4>Largeur : H</h4>
                            <br>
                            <h4>Quantité : 4</h4>
                            <br>
                            <!-- Bouton Ajouter au panier -->
                            <input type="submit" class="boutton" value="Retirer du panier"></a>
                        </div>

                        <br>
                        <hr>

                        <div class="cadre">
                            <img src="img/Chaussure 14.png" width="500">
                            <br><br>
                            <h4>Nom du produit : Tong Super</h4>
                            <br>
                            <h4>Référence du produit : Lideule</h4>
                            <br>
                            <h4>Prix unitaire : 21.99 €</h4>
                            <br>
                            <h4>Pointure : 44</h4>
                            <br>
                            <h4>Largeur : H</h4>
                            <br>
                            <h4>Quantité : 1</h4>
                            <br>
                            <!-- Bouton Ajouter au panier -->
                            <input type="submit" class="boutton" value="Retirer du panier"></a>
                        </div>

                        <br>
                        <hr>
                    </center>
                    <br>
                    <h4>TOTAL : 1 098.38 €</h4>
                    <br>

                </div>

                <hr>

                <!-- Bas de page -->
                <footer class="footer">
                    Site Web - AMCE
                    <br>
                    Vente de chaussure en ligne
                </footer>

        </section>
    </section>

    <!-- Script à garder -->

    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap-switch.js"></script>
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="lib/jquery-accordion.js" type="text/javascript" class="include"></script>
    <script src="lib/jquery.dcjqaccordion.2.7.js" type="text/javascript" class="include"></script>
    <script src="lib/common-scripts.js"></script>



</body>

</html>