<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="Refresh" content="2; URL=F:/Portfolio refait/presentation.html"> -->

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> <!-- CSS bootstrap -->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" /> <!-- CSS police d'écriture -->
    <link href="css/style.css" rel="stylesheet"> <!-- CSS principal -->

    <title>AMCE - Personnalisation</title> <!-- Titre onglet -->
    <link href="img/logo-chaussure.png" rel="icon"> <!-- Icon onglet -->
</head>

<body>
    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <!-- Bouton menu burger -->
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Menu"></div>
            </div>

            <!-- Titre principal-->
            <p class="titre-principal"><b><span>AMCE</span></b></p>

            <!-- Profile-->
            <p class="placement-rond"><a href="connexion.html"><img src="img/logo-personnage.png" class="img-circle" width="50"></a></p>
            
        </header>

        <!-- Menu de gauche -->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <ul class="sidebar-menu" id="nav-accordion">
                    <img src="img/logo-chaussure.png" class="placement-logo-chaussure" width="200">

                    <li class="sub-menu">
                        <a class="active" href="boutique.html">
                            <i class="fleche"></i>
                            <span>Boutique</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a class="active" href="panier.html">
                            <i class="fleche"></i>
                            <span>Mon panier</span>
                        </a>
                    </li>

                    <br><br>

                    <li class="sub-menu">
                        <a class="active" href="personnalisation.html">
                            <i class="fleche"></i>
                            <span>Personnaliser le profil</span>
                        </a>
                    </li>

                </ul>
            </div>
        </aside>
    </section>

    <section id="configuration">
        <section class="wrapper">
            <form>
                <br>
                <h3><i class="fa fa-angle-right"></i> Personnalisation du profil</h3>

                <hr>

                <div class="page">
                    <br>
                    <div class="petit-cadre">
                        <img src="img/logo-ajouter-photo.png" class="placement-logo-chaussure" width="80">
                        <form action="" method="POST">
                            <br>
                            <h4>Nom : </h4>
                            <br>
                            <h4>Prénom : </h4>
                            <br>
                            <h4>Adresse mail : </h4>
                            <br>
                            <h4>Numéro de téléphone : </h4>
                            <br>
                            <h4>Adresse d'habutation : </h4>
                            <br><br>
                            <!-- Bouton se connecter -->
                            <p style="text-align:center"><input type="submit" class="boutton" value="Enregistrer le profil"></p>
                        </form>
                    </div>
                    <br>
                </div>

                <hr>

                <!-- Bas de page -->
                <footer class="footer">
                    Site Web - AMCE
                    <br>
                    Vente de chaussure en ligne
                </footer>
                
            </form>
        </section>
    </section>

    <!-- Script à garder -->

    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap-switch.js"></script>
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="lib/jquery-accordion.js" type="text/javascript" class="include"></script>
    <script src="lib/jquery.dcjqaccordion.2.7.js" type="text/javascript" class="include"></script>
    <script src="lib/common-scripts.js"></script>



</body>

</html>